{% extends 'base.html' %}
{% load static %}

{% block title %}
{{product.title}}
{% endblock %}

{% block extra_headers %}
{% include 'inc/navbar.html' %}

{% endblock %}

{% block content %}
    <br>
<br>
<br>
<br>
<div class="container mt-5 bg-dark">
  <div class="row bg-dark">
    <div class="col-md-6">
      <img src="{{ product.image.url }}" alt="Product Image" class="img-fluid">
    </div>
    <div class="col-md-6 bg-dark">
      <h2>{{ product.name }}</h2>
      <p>Description: {{ product.description|safe }}</p>
      <p>Price: ${{ product.price }}</p>
      <p>{{ product.video_file.url }}</p>
              <form action="{% url 'orders:cart_add' product.id %}" method="post" >
                {% csrf_token %}
                {{ form2 }}

                <input type="submit" value="add to cart">
            </form>
            </div>
  </div>
</div>
<div class="container mt-5 bg-dark">
  <h1>Course Title</h1>
  <p>Description of the course goes here.</p>


  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="embed-responsive embed-responsive-16by9">

      </div>
    </div>



    <!-- Add more video links as needed -->
  </div>

</div>

         {% endblock %}

