{% extends 'base.html' %}
{% load static %}



 {% block content %}
{#  <!--Start Courses-->#}
{#            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">#}
{##}
{#                <div class="row">#}
{#{% for product in products %}#}
{##}
{#        </div>#}
{##}
{#                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mb-4">#}
{#                        <div class="card"><img class="card-img-top cart-img" <img src="{{ product.image.url }}">#}
{# <div class="card-body"><h2 class="index-course-slider"><a class="d-block" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>#}
{#                                <div class="card-details d-flex justify-content-between align-items-center">#}
{#                                  <div class="custom-btn-course-status">  <i class="fa fa-check"></i>   </div><span> عباس اسماعیلی</span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="card-footer d-flex justify-content-between align-items-center"><span><i class="fa fa-clock"></i> 2:29:32 </span>  <span> 300 هزارتومان </span>  </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#        {% endfor %}#}

{##}
      <!--Start Blog-->
     <div class="container">
    <!--Start New Products Section-->
     <section class="blog">
        <!--Start Description-->
        <div class="section-desc text-center">

                <h3>جدیدترین دوره ها</h3><span>رشد شما با یادگیری آغاز میشود...</span>
            <div class="btn-desc"><a class="btn custom-btn-blue" href="/courses/">همه دوره ها</a></div>
        </div>
        <!--End Description-->
        <!--Start Slider-->
        <div class="product-carousel owl-carousel owl-theme">

                <div class="card"><a class="product-cart-link" href="/courses/math/"><img class="card-img-top cart-img" src="https://s3.ir-thr-at1.arvanstorage.com/mongard/course/top_image/math-course.jpg?AWSAccessKeyId=f3d31c09-2103-461d-825a-b539c604b141&amp;Signature=NGwRarABStRUBAImckAh3ZINYMs%3D&amp;Expires=1695108990" alt="دوره آموزش ریاضیات یادگیری ماشین"></a>
                    <div class="card-body index-course-slider"> <h2 class="index-course-slider"> <a class="d-block" href="/courses/math/">دوره آموزش ریاضیات یادگیری ماشین</a></h2>
                        <div class="card-details d-flex justify-content-between align-items-center">
                            <div class="custom-btn-course-status"> <i class="fa fa-circle"></i> <span>درحال ضبط</span> </div><span>امیرحسین بیگدلو</span>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center"><span><i class="fa fa-clock"></i> 0:46:34 </span>  <span> 229 هزارتومان </span>  </div>
                </div>

                <div class="card"><a class="product-cart-link" href="/courses/security/"><img class="card-img-top cart-img" src="https://s3.ir-thr-at1.arvanstorage.com/mongard/course/top_image/security-course.webp?AWSAccessKeyId=f3d31c09-2103-461d-825a-b539c604b141&amp;Signature=ZUUBAFTnVAik2i522%2FbheDRBMSE%3D&amp;Expires=1695108990" alt="دوره آموزش امنیت در وب"></a>
                    <div class="card-body index-course-slider"> <h2 class="index-course-slider"> <a class="d-block" href="/courses/security/">دوره آموزش امنیت در وب</a></h2>
                        <div class="card-details d-flex justify-content-between align-items-center">
                            <div class="custom-btn-course-status"> <i class="fa fa-check"></i> <span>تکمیل ضبط</span> </div><span>امیرحسین بیگدلو</span>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center"><span><i class="fa fa-clock"></i> 7:46:47 </span>  <span> 189 هزارتومان </span>  </div>
                </div>

                <div class="card"><a class="product-cart-link" href="/courses/database-design/"><img class="card-img-top cart-img" src="https://s3.ir-thr-at1.arvanstorage.com/mongard/course/top_image/database-design.webp?AWSAccessKeyId=f3d31c09-2103-461d-825a-b539c604b141&amp;Signature=6Cq6wIBBYo6mb4E%2FEoL8%2BAD3jOs%3D&amp;Expires=1695108990" alt="دوره آموزش طراحی دیتابیس"></a>
                    <div class="card-body index-course-slider"> <h2 class="index-course-slider"> <a class="d-block" href="/courses/database-design/">دوره آموزش طراحی دیتابیس</a></h2>
                        <div class="card-details d-flex justify-content-between align-items-center">
                            <div class="custom-btn-course-status"> <i class="fa fa-check"></i> <span>تکمیل ضبط</span> </div><span>امیرحسین بیگدلو</span>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center"><span><i class="fa fa-clock"></i> 6:31:06 </span>  <span> 189 هزارتومان </span>  </div>
                </div>

                <div class="card"><a class="product-cart-link" href="/courses/pandas/"><img class="card-img-top cart-img" src="https://s3.ir-thr-at1.arvanstorage.com/mongard/course/top_image/pandas-course.webp?AWSAccessKeyId=f3d31c09-2103-461d-825a-b539c604b141&amp;Signature=CBW5JgOGN5MrRylF8v3pPymBQ74%3D&amp;Expires=1695108990" alt="دوره آموزش pandas پایتون"></a>
                    <div class="card-body index-course-slider"> <h2 class="index-course-slider"> <a class="d-block" href="/courses/pandas/">دوره آموزش pandas پایتون</a></h2>
                        <div class="card-details d-flex justify-content-between align-items-center">
                            <div class="custom-btn-course-status"> <i class="fa fa-check"></i> <span>تکمیل ضبط</span> </div><span>امیرحسین بیگدلو</span>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center"><span><i class="fa fa-clock"></i> 6:01:07 </span>  <span> 189 هزارتومان </span>  </div>
                </div>

                <div class="card"><a class="product-cart-link" href="/courses/numpy/"><img class="card-img-top cart-img" src="https://s3.ir-thr-at1.arvanstorage.com/mongard/course/top_image/numpy-course2.webp?AWSAccessKeyId=f3d31c09-2103-461d-825a-b539c604b141&amp;Signature=0Rxp4zt6fe%2BMfUTXSsA8Pcw%2FkeQ%3D&amp;Expires=1695108990" alt="دوره آموزش numpy پایتون"></a>
                    <div class="card-body index-course-slider"> <h2 class="index-course-slider"> <a class="d-block" href="/courses/numpy/">دوره آموزش numpy پایتون</a></h2>
                        <div class="card-details d-flex justify-content-between align-items-center">
                            <div class="custom-btn-course-status"> <i class="fa fa-check"></i> <span>تکمیل ضبط</span> </div><span>امیرحسین بیگدلو</span>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center"><span><i class="fa fa-clock"></i> 2:53:20 </span>  <span>رایگان</span>  </div>
                </div>

        </div>
        <!--End Slider-->
    </section>
    <!--End New Products Section-->
    <section class="blog">
        <!--Start Description-->
        <div class="section-desc text-center">
            <div class="desc">
                <h3>وبلاگ مونگارد</h3><span>جدیدترین مطالب آموزشی از گوشه کنار وب</span>
            </div>
        </div>
        <!--End Description-->
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="blog-item"><img src="https://s3.ir-thr-at1.arvanstorage.com/mongard/articles/article-python-naming-conventionsl3j4afs.png?AWSAccessKeyId=f3d31c09-2103-461d-825a-b539c604b141&amp;Signature=BEolcPizvGUx1Ar8GVZFMJT9KF4%3D&amp;Expires=1695108990" alt="قوانین نامگذاری آبجکت ها در پایتون">
                    <div class="blog-item-details"><h2 class="index-books-slider"><a href="/articles/230/best-naming-conventions-when-writing-python-code/"><i class="fa fa-circle"></i> مقالات<span>قوانین نامگذاری آبجکت ها در پایتون</span></a></h2></div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="blog-item"><img src="https://s3.ir-thr-at1.arvanstorage.com/mongard/articles/article-docker-entrypoint-cmdaf0dfa.png?AWSAccessKeyId=f3d31c09-2103-461d-825a-b539c604b141&amp;Signature=%2FpXqwnPa1abT0kfIfM0INyGjXB4%3D&amp;Expires=1695108990" alt="تفاوت دستورات cmd و entrypoint در داکر">
                    <div class="blog-item-details"><h2 class="index-books-slider"><a href="/articles/229/cmd-entrypoint-different-dockerfile/"><i class="fa fa-circle"></i> مقالات<span>تفاوت دستورات cmd و entrypoint در داکر</span></a></h2></div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="blog-item"><img src="https://s3.ir-thr-at1.arvanstorage.com/mongard/articles/article-databases-naming-conventions3242343.png?AWSAccessKeyId=f3d31c09-2103-461d-825a-b539c604b141&amp;Signature=lCRspJzemyAM274xcfynYhlV3d0%3D&amp;Expires=1695108990" alt="قوانین نامگذاری در دیتابیس ها">
                    <div class="blog-item-details"><h2 class="index-books-slider"><a href="/articles/228/learn-sql-naming-conventions/"><i class="fa fa-circle"></i> مقالات<span>قوانین نامگذاری در دیتابیس ها</span></a></h2></div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="blog-item"><img src="https://s3.ir-thr-at1.arvanstorage.com/mongard/articles/article-python-ord-chr-functions11.png?AWSAccessKeyId=f3d31c09-2103-461d-825a-b539c604b141&amp;Signature=z7z8T9U83stJXUjWelHrDa0cJMY%3D&amp;Expires=1695108990" alt="آشنایی کامل با توابع ord و chr پایتون">
                    <div class="blog-item-details"><h2 class="index-books-slider"><a href="/articles/227/python-ord-chr/"><i class="fa fa-circle"></i> مقالات<span>آشنایی کامل با توابع ord و chr پایتون</span></a></h2></div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><a class="btn custom-btn-blue float-end" href="/articles/">آرشیو مقالات</a></div>
        </div>
    </section>

    <!--Start Services Section-->
    <section class="services bg-light py-5">
        <!--Start Description-->
        <div class="section-desc d-flex justify-content-between align-items-center">
            <div class="desc">
                <h3>عضویت ویژه</h3><span>از آموزش‌های پیشرفته لذت ببرید!</span>
            </div>
            <div class="btn-desc"><a class="btn custom-btn-blue" href="/accounts/user-vip/">تهیه عضویت ویژه</a></div>
        </div>
        <!--End Description-->
        <!--Start Services-->
        <div class="row mt-5">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="services-box"><i class="fa fa-star"></i>
                    <h4 class="mt-3">عضویت ویژه سه ماهه</h4>
                    <p>با تهیه عضویت ویژه، دسترسی به تمام دوره‌ها به مدت سه ماه برای شما باز خواهد شد</p>
                </div>
            </div>
        </div>
        <!--End Services-->
    </section>
    <!--End Services Section-->
{% endblock %}

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>


{% block extra_headers %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
{% endblock %}

